<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/navtest.ejs") %>

    <h3>Create a new movie (search FM-DB)</h3>
    <form action="/createtest" method="POST">
      <label>Search by title:</label><br />
      <input
        type="text"
        required
        name="q"
        placeholder="Enter movie name"
      /><br /><br />
      <button>Create movie</button>
    </form>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
